/* Mobile */
:root {
  --lightgray: #333333;
  --cream: #f2eae2;
  --white: #ffffff;
  --purple: #8865ec;
  --gunmetal: #1c232b;
  --black: #141414;
  --dark-gray: #1F1F1F;
  --orange: #F88D2A;
  --sans: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--sans);
  font-size: 1rem;
  color: var(--cream);
  background-color: var(--black);
}

h1 {
  text-align: center;
  padding: 3rem;
}

h2 {
  font-size: 1.2rem;
}

img {
  width: 100%;
}

p {
  margin: 0.5rem 0 2rem 0;
  color: #a6a6a6;
}

article {
  width: 22rem;
  height: 22rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lightgray);
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: var(--dark-gray);
}

.project-img {
  height: 50%;
  overflow: hidden;
  border-bottom: 1px solid var(--lightgray);
}

.description {
  padding: 1.2rem;
}

a {
  /* text-decoration: none; */
  color: var(--white);
  text-align: center;
  width: 100%;
  border-radius: 8px;
}

a:hover {
  color: var(--orange);
  text-decoration: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 70%;
  margin: 0 auto 6rem auto;
  /* gap: 1rem;
  /* flex-direction: row; */
  /* align-items: flex-start;
   flex-wrap: wrap;
  justify-content: flex-start;  */
}

@media (max-width: 800px) {
  .content {
    grid-template-columns: 1fr;
  }
}
