/* Mobile */
:root {
  --lightgray: #EAEBEF;
  --cream: #f2eae2;
  --white: #ffffff;
  --purple: #8865EC;
  --gunmetal: #1c232b;
  --sans: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
font-family: var(--sans);
font-size: 1rem;
color: var(--gunmetal);
}

h2{
    font-size: 1.2rem;
}

img {
  width: 100%;
}

p {
    margin: .5rem 0px 2rem 0px;
}

article {
  width: 375px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid var(--lightgray);
  height: 400px;
  padding-bottom: 1rem;
}

.project-img {
  background-image: url("Product preview card component/images/image-product-mobile.jpg");
  background-position: center;
  height: 300px;
  background-size: cover;
  display: block;
}

.description {
  padding: 1.2rem;
}

a.button {
    text-decoration: none;
    background-color: var(--gunmetal);
    color: var(--white);
    padding: .5rem 1rem;
    text-align: center;
    width: 100%;
    border-radius: 8px;
}

a.button:hover {
    background-color: var(--purple);
}