/* Mobile */
:root {
  --lightgray: #eaebef;
  --cream: #f2eae2;
  --white: #ffffff;
  --purple: #8865ec;
  --gunmetal: #1c232b;
  --sans: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--sans);
  font-size: 1rem;
  color: var(--gunmetal);
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.2rem;
}

img {
  width: 100%;
}

p {
  margin: 0.5rem 0px 2rem 0px;
}

article {
  width: 22rem;
  height: 22rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lightgray);
  padding-bottom: 1rem;
  overflow: hidden;
}

.project-img {
  height: 50%;
  overflow: hidden;
  border-bottom: 1px solid var(--lightgray);
}

.description {
  padding: 1.2rem;
}

a.button {
  text-decoration: none;
  background-color: var(--gunmetal);
  color: var(--white);
  padding: 0.5rem 1rem;
  text-align: center;
  width: 100%;
  border-radius: 8px;
}

a.button:hover {
  background-color: var(--purple);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 70%;
  margin: 0 auto;
  /* gap: 1rem;
  /* flex-direction: row; */
  /* align-items: flex-start;
   flex-wrap: wrap;
  justify-content: flex-start;  */
}

@media (max-width: 800px) {
  .content {
    grid-template-columns: 1fr;
  }
}
