@font-face {
  font-family: "Young serif";
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: "Outfit";
  src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
:root {
  --dark-charcoal: #312e2c;
  --wenge-brown: #5f564d;
  --snow: #FFF7FB;
  --dark-raspberry: #7A284E;
  --brandy-red: #854632;
  --white-coffee: #E3DDD7;
  --serif: "Young serif";
  --sans: "Outfit";
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--wenge-brown);
  margin: 0;
  font-family: var(--sans);
  font-size: 1rem;
}

img {
  width: 100%;
}

h1 {
    font-family: var(--serif);
    color: var(--dark-charcoal);
}

h2 {
    font-family: var(--serif);
    color: var(--brandy-red);
    font-size: 1.75rem;
}

h3 {
    font-family: var(--sans);
    font-weight: 600;
    color: var(--dark-raspberry);
}


.content {
    padding: 1.5rem;
}


p {
    line-height: 1.5;
    font-weight: normal;
}

.callout {
    background-color: var(--snow);
    padding: 1.5rem;
    border-radius: .75rem;
}


ul,
ol {
    padding-left: 1.5rem;

}

li {
    padding: 0.5rem;
}

li::marker {
color: var(--brandy-red);
}

.bold-text {
    font-weight: bold;
}

.divider {
    height: 1px;
    background-color: var(--white-coffee);
}