:root {
  --yellow: #f4d04e;
  --pure-white: #ffffff;
  --black: #111111;
  --gray: #7f7f7f;
  --sans: "Figtree", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--yellow);
  font-family: var(--sans);
  color: var(--black);
  padding-top: 6rem;
}

h1 a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--black);
}

img {
  width: 100%;
}

p {
  font-size: 0.875rem;
}

a:hover {
    color: var(--yellow);
}

.container {
  margin: 1rem auto;
  background-color: var(--pure-white);
  border: 1px solid var(--black);
  padding: 1.5rem;
  width: 327px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1.25rem;
  box-shadow: 8px 8px;
}

.img-container {
  border-radius: 1rem;
  overflow: hidden;
  height: 150px;
}

.tag {
  background-color: var(--yellow);
  padding: 0.25rem 0.625rem;
  display: flex;
  border-radius: 4px;
  width: 30%;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.metadata {
  font-size: 0.75rem;
  color: var(--black);
}

.description {
  color: var(--gray);
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.avatar-container {
  width: 2rem;
}
